<app-navbar></app-navbar>

<mat-card class="main-page">
  <mat-card-header class="main-page-title">
    Strona Główna
  </mat-card-header>
  <mat-card-title>
    Witaj {{username}} na stronie swojego Gospodarstwa Domowego!
  </mat-card-title>
  <mat-card-content *ngIf="summary">
    <p>
      Oto twoje podsumowanie:
    </p>
    <p>
      Przychody: {{summary.income}}zł
    </p>
    <p>
      Obciążenia: {{summary.burden}}zł
    </p>
    <p>
      Członkowie twojego gospodarstwa:
      <mat-list-item *ngFor="let user of users">
        {{user.name}}
      </mat-list-item>
    </p>
  </mat-card-content>
</mat-card>
