<app-navbar></app-navbar>

<mat-card class="main-page">

  <p>
    <mat-card-header class="main-page-title">
      Strona Główna
    </mat-card-header>
  </p>
  <mat-card-title>
    Witaj 1 na stronie swojego Gospodarstwa Domowego!
  </mat-card-title>
  <mat-card-content>
    <p>
      Oto twoje podsumowanie:
    </p>
    <p>
      Przychody: 1
    </p>
    <p>
      Obciążenia: 1
    </p>
    <p>
      Członkowie twojego gospodarstwa:
      <mat-list-item>
        <!--        TODO-->
      </mat-list-item>
    </p>
  </mat-card-content>
</mat-card>
