.main-page {
  margin: 2rem;
}

.main-page-header {
  margin-top: 2rem;
  margin-left: 2rem;
}

.column {
  width: 50%;
  float: left;
}

.main-page-col {
  margin-left: 2rem;
  display: inline-block;
}
