<div class="card mt-3 mb-3">
    <div class="card-header">
        <h2><i class="fas fa-wheelchair pr-2"></i>
            Serdecznie dziękujęmy za poświęcony czas i wspaniałą przygodę!
        </h2>
    </div>

    <div class="card-header">
        <h3><i class="fab fa-amazon-pay pr-2"></i>
            KRZYSZTOF KWIATKOWSKI - <strong>2014-2020</strong>
        </h3>
    </div>

    <div class="card-header">
        <h3><i class="fab fa-apple-pay pr-2"></i>
            MACIEJ RÓŻAŃSKI - <strong>2014-2021</strong>
        </h3>
    </div>
</div>


