<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{isEditAction()}} {{isIncomeAction()}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="dataForm">
        <div class="form-group">
            <label for="startDate">Data rozpoczęcia</label>
            <input formControlName="startDate" type="text" id="startDate" class="form-control"
                   placeholder="1" required=""
                   autofocus="">
            <label for="endDate">Data zakończenia</label>
            <input formControlName="endDate" type="text" id="endDate" class="form-control"
                   required=""
                   autofocus="">
            <label for="incomePeriod">okres naliczania (1 - co miesiac)</label>
            <input formControlName="period" type="text" id="incomePeriod" class="form-control"
                   placeholder="1" required=""
                   autofocus="">
            <label for="incomeAmount">kwota</label>
            <input formControlName="amount" type="text" id="incomeAmount" class="form-control"
                   required=""
                   autofocus="">
            <label for="incomeDescription">opis</label>
            <input formControlName="description" type="text" id="incomeDescription" class="form-control"
                   required=""
                   autofocus="">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Dodaj</button>
</div>
