<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{isEditAction()}} ubezpieczenie</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="dataForm">
        <div class="form-group">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Rodzaj ubezpieczenia:</label>
            <select formControlName="type" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Wybierz...</option>
                <option value="LIFE">Na życie</option>
                <option value="HOUSE">Domu</option>
                <option value="CAR">Samochodu</option>
                <option value="HOUSE">Inne</option>
            </select>
            <label for="name">Nazwa</label>
            <input formControlName="name" type="text" id="name" class="form-control"
                   required=""
                   autofocus="">
            <label for="description">Opis</label>
            <input formControlName="description" type="text" id="description" class="form-control"
                   required=""
                   autofocus="">
            <label for="cost">Kwota</label>
            <input formControlName="cost" type="text" id="cost" class="form-control"
                   required=""
                   autofocus="">
            <label for="period">Okres płatności (co ile płatność jest przeprowadzana - jeśli co kwartał, należy wpisać liczbę 3)</label>
            <input formControlName="period" type="text" id="period" class="form-control"
                   required=""
                   autofocus="">
            <label for="endDate">Data zakończenia</label>
            <div class="input-group">
                <input id="endDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                       #dp1="ngbDatepicker" formControlName="endDate">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="dp1.toggle()"
                            type="button"></button>
                </div>
            </div>
            <div class="input-group" *ngIf="dataForm.get('type').value === 'CAR'">
                <label for="vehicleTID">Numer rejestracyjny pojazdu:</label>
                <input formControlName="vehicleTID" type="text" id="vehicleTID" class="form-control"
                       required=""
                       autofocus="">
                <label for="vehicleLP">Data przeglądu technicznego</label>
                <div class="input-group">
                    <input id="vehicleLP" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                           #dp2="ngbDatepicker" formControlName="vehicleLP">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dp2.toggle()"
                                type="button"></button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">{{isEditAction()}}</button>
</div>
