<div class="card mt-3 mb-3">
    <div class="card-header">
        <h2><i class="fas fa-money-bill pr-2"></i>RAPORTY BILANSU</h2>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="generate()">generuj</button>
    <div class="card-body" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <div *ngFor="let month of months; let i = index">
        <h3><i class="fas fa-money-bill pr-2 m-2"></i>{{monthsOrder[currentMonth - i]}}</h3>
        <app-balance [balances]="month">
        </app-balance>
    </div>
</div>

