<app-navbar></app-navbar>
<mat-divider></mat-divider>

<h1 class="main-page-header">Przychody</h1>

<mat-card class="main-page">
  <mat-card-content *ngIf="incomes">
    <mat-list>
      <div>
        <table>
          <tr *ngFor="let income of incomes">
            <td>data rozpoczęcia: {{income.startDate}}</td>
            <td>data zakończenia: {{income.endDate}}</td>
            <td>kwota: {{income.amount}}</td>
            <td>opis: {{income.description}}</td>
          </tr>
        </table>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>
