<app-navbar></app-navbar>
<mat-divider></mat-divider>

<h1 class="main-page-header">Przychody</h1>

<mat-card class="main-page">
  <div>
    <mat-card-content *ngIf="incomes">
      <mat-list>
        <mat-list-item *ngFor="let income of incomes">
          <div class="main-page-col">
            data rozpoczęcia: {{income.startDate}} <br>
            data zakończenia: {{income.endDate}}<br>
            kwota: {{income.amount}}<br>
            opis: {{income.description}}<br>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </div>
</mat-card>
