<div class="alert m-3" role="alert">
    <div class="row">
        <div class="col-sm-4 text-center">
            <strong>Kwota</strong>
        </div>
        <div class="col-sm-4 text-center">
            <strong>Data rozpoczęcia</strong>
        </div>
        <div class="col-sm-4 text-center">
            <strong>Data zakończenia</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <span class="badge badge-primary">{{investment.amount}}</span>
        </div>
        <div class="col-sm-4 text-center">
            <span class="badge badge-success">{{investment.startDate}}</span>
        </div>
        <div class="col-sm-4 text-center">
            <span class="badge badge-success">{{investment.endDate}}</span>
        </div>
    </div>
</div>
