<div class="alert alert-primary m-3" role="alert">
    <div class="row">
        <div class="col-sm-6">
            <strong class="float-right">Data wygenerowania</strong>
        </div>
        <div class="col-sm-6">
            {{balance.generationDate}}
        </div>
        <div class="col-sm-6">
            <strong class="float-right">Przychody</strong>
        </div>
        <div class="col-sm-6">
            {{balance.income}}
        </div>
        <div class="col-sm-6">
            <strong class="float-right">Wydatki</strong>
        </div>
        <div class="col-sm-6">
            {{balance.burden}}
        </div>
        <div class="col-sm-6">
            <strong class="float-right">Bilans</strong>
        </div>
        <div class="col-sm-6">
            {{balance.balance}}
        </div>
        <div class="col-sm-6">
            <strong class="float-right">Typ</strong>
        </div>
        <div class="col-sm-6">
            {{balance.type | dictionary:'balanceType'}}
        </div>
    </div>
</div>
