<div class="card mt-3 mb-3">
    <div class="card-header">
        <h2><i class="fas fa-money-bill pr-2"></i>Cele Oszczędnościowe</h2>
    </div>
    <div class="card-body" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <ul class="list-group list-group-flush" *ngIf="!loading">
        <app-household-home-goal *ngFor="let goal of savingsList"
                                 (edit)="edit(goal)"
                                 [editable]="true"
                                 [goal]="goal"></app-household-home-goal>
    </ul>
</div>

<div class="card mt-3 mb-3">
    <div class="card-header">
        <h2><i class="fas fa-shopping-cart pr-2"></i>Cele Zakupowe</h2>
    </div>
    <div class="card-body" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <ul class="list-group list-group-flush" *ngIf="!loading">
        <app-household-home-goal *ngFor="let goal of shoppingList"
                                 (edit)="edit(goal)"
                                 [editable]="true"
                                 className="alert-info"
                                 [goal]="goal"></app-household-home-goal>
    </ul>
</div>

<button class="btn btn-lg btn-primary btn-block" type="submit" (click)="edit(null)">Dodaj</button>


