<app-navbar></app-navbar>
<mat-divider></mat-divider>

<h1 class="main-page-header">Ustawienia</h1>

<mat-card class="main-page">
  <mat-card-header class="main-page-title">
  </mat-card-header>
  <mat-card-title>

  </mat-card-title>
  <mat-card-content *ngIf="user">
    <h3>
      Imie: {{user.name}}<br>
      email: {{user.email}}<br>
    </h3>
    <h3>
      Zarejestrowany od: {{user.registrationDate}}<br>
      Ostatnie nieudane logowanie: {{user.lastFailedLogin}}<br>
    </h3>
  </mat-card-content>
</mat-card>
