<app-navbar></app-navbar>
<mat-divider></mat-divider>

<h1 class="main-page-header">Wydatki</h1>

<mat-card class="main-page">
  <mat-card-content *ngIf="expenses">
    <mat-list>
      <div>
        <table>
          <tr *ngFor="let expense of expenses">
            <td>data rozpoczęcia: {{expense.startDate}}</td>
            <td>data zakończenia: {{expense.endDate}}</td>
            <td>kwota: {{expense.amount}}</td>
            <td>opis: {{expense.description}}</td>
          </tr>
        </table>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>
