<div class="card">
    <div class="card-header">
        Wydatki
    </div>
    <ul class="list-group list-group-flush" *ngIf="expenseCashflowList">
        <li *ngFor="let cashflow of expenseCashflowList">
            nazwa: {{cashflow.description}}, kwota: {{cashflow.amount}}
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="edit(cashflow)">Edytuj</button>
        </li>
    </ul>

    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="edit(null)">Dodaj</button>


</div>
