<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{isEditAction()}} pożyczkę</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="dataForm">
        <div class="form-group">
            <label for="loanBank">Bank</label>
            <input formControlName="bankName" type="text" id="loanBank" class="form-control"
                   required=""
                   autofocus="">
            <label for="loanAmount">Kwota całkowita pożyczki:</label>
            <input formControlName="amount" type="text" id="loanAmount" class="form-control"
                   required=""
                   autofocus="">
            <label for="loanInstallmentAmount">Kwota raty:</label>
            <input formControlName="installmentAmount" type="text" id="loanInstallmentAmount" class="form-control"
                   required=""
                   autofocus="">
            <label for="annualLoanPercentage">Oprocentowanie</label>
            <input formControlName="annualLoanPercentage" type="text" id="annualLoanPercentage" class="form-control"
                   required=""
                   autofocus="">
            <label for="startDate">Data rozpoczęcia</label>
            <div class="input-group">
                <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                       #dp1="ngbDatepicker" formControlName="startDate">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="dp1.toggle()"
                            type="button"></button>
                </div>
            </div>
            <label for="loanEndDate">Data zakończenia</label>
            <div class="input-group">
                <input id="loanEndDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                       #dp2="ngbDatepicker" formControlName="endDate">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="dp2.toggle()"
                            type="button"></button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">{{isEditAction()}}}</button>
</div>
