<div class="alert m-3" role="alert" [ngClass]="className">
    <h4 class="alert-heading"><i class="fas fa-star pr-2"></i>{{cashflow.description}}<span class="float-right cursor-pointer" [hidden]="!editable"><i
        class="fas fa-edit pr-2" (click)="editAction()"></i>Edytuj</span></h4>
    <div class="row">
        <div class="col-sm-4 text-center">
            <strong>Kwota</strong>
        </div>
        <div class="col-sm-4 text-center">
            <strong>Data rozpoczęcia</strong>
        </div>
        <div class="col-sm-4 text-center">
            <strong>Data zakończenia</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <span class="badge badge-primary">{{cashflow.amount}}</span>
        </div>
        <div class="col-sm-4 text-center">
            <span class="badge badge-success">{{cashflow.startDate}}</span>
        </div>
        <div class="col-sm-4 text-center">
            <span class="badge badge-success">{{cashflow.endDate}}</span>
        </div>
    </div>
