<div class="alert m-3" role="alert" [ngClass]="className">
    <div class="row">
        <div class="col-sm-4 text-center">
            <strong>Kwota</strong>
        </div>
        <div class="col-sm-4 text-center">
            <strong>Rata</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <span class="badge badge-primary">{{loan.amount}}</span>
        </div>
        <div class="col-sm-4 text-center">
            <span class="badge badge-success">{{loan.installmentAmount}}</span>
        </div>
    </div>
</div>
