<mat-card class="login-card">
  <mat-card-title class="login-card-title">
    Logowanie
  </mat-card-title>
  <form [formGroup]="loginForm">
    <mat-card-content>
      <p>
        <mat-form-field>
          <mat-label>Nazwa użytkownika</mat-label>
          <label>
            <input [readonly]="loading" name="username" formControlName="username" required matInput>
          </label>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Hasło</mat-label>
          <label>
            <input [readonly]="loading" name="password" formControlName="password" required matInput type="password">
          </label>
        </mat-form-field>
      </p>
      <mat-error *ngIf="error">Podane hasło lub nazwa użytkownika jest nieprawidłowa</mat-error>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="login()" type="submit" [disabled]="!loginForm.valid" *ngIf="!loading" color="primary" mat-button>Zaloguj się
      </button>
      <div class="login-spinner" *ngIf="loading">
        <mat-spinner diameter="35"></mat-spinner>
      </div>
    </mat-card-actions>
  </form>

</mat-card>

