<div class="row">
    <div class="col-lg-12 mt-1">
        Przychody: <span class="badge badge-primary">{{balance?.income}}</span>
    </div>
    <div class="col-lg-12 mt-1">
        Rozchody: <span class="badge badge-primary">{{balance?.burden}}</span>
    </div>

    <div class="col-lg-12 mt-1">
    </div>

    W tym:
    <div class="col-lg-12 mt-1">
        Bilans: <span class="badge badge-primary">{{balance?.balance}}</span>
    </div>
    <div class="col-lg-12 mt-1">
        Inwestycje: <span class="badge badge-primary">{{investmentReport?.income}}</span>
    </div>
    <div class="col-lg-12 mt-1">
        Pożyczki: <span class="badge badge-primary">{{loansReport?.burden}}</span>
    </div>
    <div class="col-lg-12 mt-1">
        Ubezpieczenia: <span class="badge badge-primary">{{loansReport?.burden}}</span>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mt-1">
        <app-household-home-insurance></app-household-home-insurance>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mt-1">
        <app-household-home-investments></app-household-home-investments>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mt-1">
        <app-household-home-loans></app-household-home-loans>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mt-1">
        <app-household-home-debt-cards></app-household-home-debt-cards>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mt-1">
        <app-household-home-cashflow></app-household-home-cashflow>
    </div>
</div>
