<app-navbar></app-navbar>
<mat-divider></mat-divider>

<h1 class="main-page-header">Ustawienia Gospodarstwa Domowego</h1>

<mat-card class="main-page">
  <mat-card-header class="main-page-title">
  </mat-card-header>
  <mat-card-title>

  </mat-card-title>
  <mat-card-content *ngIf="household">
    <h3>
      Oto twoje podsumowanie:
    </h3>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        Koszty podstawowe gospodarstwa domowego: <mat-label></mat-label>
        <input type="number" matInput placeholder="Ex. Pizza" [(ngModel)]="household.cost" [ngModelOptions]="{standalone:true}">
      </mat-form-field>
    </form>
    <h3>Członkowie twojego gospodarstwa - {{household.population}}:</h3>
    <mat-list>
      <mat-list-item *ngFor="let user of users">
        {{user.name}}
      </mat-list-item>
    </mat-list>
    <button mat-button (click)="saveHousehold()">Zapisz</button>
  </mat-card-content>
</mat-card>
