/*GLOBAL VARIABLES*/

// RESPONSIVE WEB DESIGN
$screen-width-mobile: 480px;
$screen-width-mobile-large: 576x;
$screen-width-tablet: 768px;
$screen-width-desktop: 992px;
$screen-width-desktop-large: 1200px;

//COLORS
$border-color: #dee2e6;
$blue: #007bff;
