<div class="card mt-3 mb-3">
    <div class="card-header">
        <h2><i class="fas fa-money-bill pr-2"></i>Ustawienia użytkownika</h2>
    </div>
    <div class="card-body" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <ul class="list-group list-group-flush" *ngIf="!loading">
        <div class="row">
            <div class="col-lg-6 mt-1">
                login <span class="badge badge-primary">{{user.login}}</span>
            </div>
            <div class="col-lg-6 mt-1">
                nazwa <span class="badge badge-primary">{{user.name}}</span>
            </div>
            <div class="col-lg-6 mt-1">
                email: <span class="badge badge-primary">{{user.email}}</span>
            </div>
            <div class="col-lg-6 mt-1">
                hasło: <span class="badge badge-primary" type="password">ukryte</span>
            </div>
            <br>
            <div class="col-lg-6 mt-1">
                <button class="btn btn-success" (click)="editUserData(user)">Edytuj dane</button>
            </div>
            <div class="col-lg-6 mt-1">
                <button class="btn btn-success" (click)="changeUserPassword(user)">Zmień hasło</button>
            </div>
        </div>
    </ul>
</div>
