<div class="card mt-3 mb-3">
    <div class="card-header">
        <h2><i class="fas fa-money-bill pr-2"></i>Ustawienia Gospodarstwa Domowego</h2>
    </div>
    <div class="card-body" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <div class="card-body" *ngIf="!loading">
        <div class="row">
            <div class="col-xs-12">
                <h3>Oto twoje podsumowanie:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-12">
                        Koszty podstawowe gospodarstwa domowego: <span
                        class="badge badge-primary">{{household?.cost}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-12">
                        Łączna ilośc w gospodarstwie domowym: <span
                        class="badge badge-primary">{{household?.population}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card" style="width: 100%;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let user of userList">login: {{user.login}},
                                    nazwa: {{user.name}}
                                    <button class="btn btn-danger float-right" (click)="removeUser(user)">X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6 mt-1">
    <button class="btn btn-success" (click)="edit(household)">Zmień dane</button>
</div>
