<div class="row">
    <div class="col-lg-12">
        <h1><i class="fas fa-cog pr-2"></i>Ustawienia Gospodarstwa Domowego</h1>
    </div>
</div>

<div class="row">
    Oto twoje podsumowanie:
    <div class="col-lg-6 mt-1">
        Koszty podstawowe gospodarstwa domowego: <span class="badge badge-primary">{{household?.cost}}</span>
    </div>
</div>

<div class="row">
    Łączna ilośc w gospodarstwie domowym: <span class="badge badge-primary">{{household?.population}}</span>
    <div class="col-lg-6 mt-1">
        <li *ngFor="let user of userList">
            login: {{user.login}}, nazwa: {{user.name}} <button type="button" class="btn btn-danger">X</button>
        </li>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mt-1">
        <button class="btn btn-block btn-success">Zapisz</button>
    </div>
    <div class="col-lg-6 mt-1">
        <button class="btn btn-block btn-warning">Anuluj</button>
    </div>
</div>
