<div>
  <a mat-button href="/">Strona Główna</a>
  <a mat-button [matMenuTriggerFor]="belowMenu">Twoje Gospodarstwo Domowe</a>

  <a mat-button routerLink="/settings">Ustawienia</a>
  <a mat-button (click)="logout()">Wyloguj</a>

  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/balance">Raporty Bilansu</button>
    <button mat-menu-item routerLink="/expenses">Wydatki</button>
    <button mat-menu-item routerLink="/incomes">Przychody</button>
    <button mat-menu-item routerLink="/householdsettings">Ustawienia Gosp.Dom.</button>
  </mat-menu>
</div>
